body {
    background-color: lightcyan;
    font-family: sans-serif;
}

H1 {
    text-align: center;
    color: darkblue;
    font-size: 50px;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 350px;
    background-color: darkgray;
    border-radius: 5%;
    border: solid black 1px;
    box-shadow: 10px 10px px lightblue;;
}

.calculator-grid {
    height: 500px;
    width: 300px;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(4, 1fr);
    gap: 5px 5px;
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 100px;
    border: lightgrey solid 3px;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    font-weight: bold;
}

.memory-display {
    display: flex;
    align-self: start;
    height: 15px;
    color: lightgray;
}

.secondary-display {
    color: grey;
    font-size: 20px;
    height: 20px;
}

.primary-display {
    color: white;
    font-size: 30px;
    height: 30px;
}

.all-clear-button {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: lightskyblue;
    font-size: 15px;
}

.all-clear-button:hover {
    background-color: rgb(123, 189, 229);
}

.backspace-button {
    background-color: red;
    font-size: 15px;
}

.backspace-button:hover {
    background-color: rgb(223, 6, 6);
}

.operator-button {
    background-color: orange;
    font-size: 15px;
}

.operator-button:hover {
    background-color: rgb(234, 133, 32);
}

.number-button {
    font-size: 15px;
    background-color: whitesmoke;
}

.decimal-button {
    font-size: 15px;
    background-color: whitesmoke;
}

.number-button:hover, .decimal-button:hover {
    background-color: rgb(226, 222, 222);
}

.equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: lightgreen;
    font-size: 15px;
}

.equals-button:hover {
    background-color: rgb(98, 208, 98);
}

.memory-button {
    background-color: darkgreen;
    color: whitesmoke;
    font-size: 15px;
}

.memory-button:hover {
    background-color: rgb(1, 85, 1);
}

.memory-container {
    align-items: left;
}